.menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* width: 17%; */
}

.menu h2{
    text-align: center;
    border-bottom: 2px dotted rgb(164 195 52);
    padding-bottom: 20px;
}

.menuItens div{
    text-align: center;
    border-bottom: 2px dotted rgb(164 195 52);
    padding: 30px;
    font-size:18px;
    font-weight: 600;
    color: #000

}

.menuItens{
    padding: 0!important;
}

.imgEt{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.menuItens a:hover{
    font-size: 25px;
}
